.headerWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: #FFFFFF;

    .titleWrapper {
        padding: 0 68px;
        height: auto;
    }
}