.App {
  background-color: #E5E5E5;
}

.orderText {
  margin-left: 68px;
  margin-bottom: 40px;
}

@import url('http://fonts.cdnfonts.com/css/metropolis');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
